.header {
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 1280px;
  height: 72px;
  max-width: 1280px;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 8px;


}
.div {
  width-fixed: 48;
  height-hug: 40;
  display: fixed;

}
.div2 {
  width-hug: 280;
  height-hug: 40;

}


